@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 10px 10px 10px 20px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
 }
 .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
.logo img {
    height: 60px; /* adjust as needed */
    width: 20%;
    margin-right: 10px; /* adjust as needed */
 }
  
.logo p {
    margin: 0;
    font-size: 50px; /* adjust as needed */
    font-weight: bold;
    color: #4bc18a;
    font-family: 'IndieFlower','Times New Roman', cursive;
}

 

.search-bar{
    padding-left: 15px;
    border-radius: 25px;
    width: 300px;
    font-size: 16px;
    height: 45px;
    border: solid #4bc18a;

}


input::placeholder:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f3c5";
    margin-right: 5px;
  }

nav a {
    color: #2c3f14;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    
}

nav h1 {
    color: #2c3f14;
    font-size: 50px;
}

nav .search-input {
    padding-left: 10px;
    border-radius: 25px;
    width: 25%;
    font-size: 16px;
    height: 30px;
}

nav .side-links{
    display: flex;
}

.buttons:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.buttons.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}


nav .buttons{
    background-color: #4bc18a;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer; 
    justify-content: center;
    text-align: center;
}


