nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 10px 5% 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
  }
  
nav li {
    margin-right: 10px;
}

nav a {
    color: #199d6f;
    margin: 10px 20px 10px 0;
    display: inline-block;
}

nav h1 {
    color: #aa2222;
    margin-left: 10%;
    font-size: 50px;
}

nav .search-input {
    padding-left: 10px;
    border-radius: 15px;
    width: 25%;
    font-size: 16px;
    height: 30px;
}

nav span {
    margin-right: 30px;
    font-weight: bold;
    color: #a51b1b;
}