:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  background: #f2f2f2;
}

.post-page {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  margin: 12px 20px 12px 20px;
  justify-content: space-between;
}

.post-page a {
  text-decoration: none;
  color: black;
}

.post-page img {
  max-height: 300px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.post-page p {
  text-align: left;
  color: black;
}

.post-page h2 {
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(7, 7, 10);
}

.post-page h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(7, 7, 10);
}
.post-page i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.post-page .buttons {
  width: 100%;
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-page .upvotes {
  display: flex;s
  gap: 5px;
}

.post-page .upvote-button {
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.post-page .upvote-button:active {
  transform: translateY(3px);
}

